<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Fruit</title>
</head>
<body>
  <h1>Add New Fruit</h1>
  <a href="/fruits/">Back to Fruits</a>
  <form action="/fruits" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="isReadyToEat">Is Ready to Eat?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat">

    <button type="submit">Create New Fruit</button>
  </form>
</body>
</html>